<dl>
  <div class="city">
    <dt>{{ 'City:'|t }}</dt>
    <dd>{{ city }}</dd>
  </div>
  <div class="temp">
    <dt>{{ 'Temp:'|t }}</dt>
    <dd>{{ temp }}</dd>
  </div>
  <div class="humidity">
    <dt>{{ 'Humidity:'|t }}</dt>
    <dd>{{ humidity }}</dd>
  </div>
  <div class="description">
    <dt>{{ 'Description:'|t }}</dt>
    <dd>{{ description }}</dd>
  </div>
</dl>
